[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GeoModels"]
	path = GeoModels
	url = https://github.com/vmoprojs/geomodels
[submodule "MTest"]
	path = MTest
	url = https://github.com/vmoprojs/mtest
[submodule "clusEvol"]
	path = clusEvol
	url = https://github.com/vmoprojs/clusevol
